:root {
  --text-standard: #050505;
  --background-standard: #fefdfdaf;
  --input-text #050505;
  --input-back: #bebebe;
  --input-focus: #f0f0f0;
  --light-header: #d9d9da;
  --dark-header: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-standard: #f5f5f5;
    --background-standard: #090909;
    --input-text #f5f5f5;
    --input-back: #2d2d2d;
    --input-focus: #5f5f5f;
    --light-header: #212121;
    --dark-header: #b5b5b5;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

body{
 font-family: 'inter';
}

main{
  margin: 20px;
  padding: 40px;
}

h1{
    font-family: 'inter';
    font-size: 5em;
    text-align: center;
    font-weight: 700;
}

h2{
    font-family: 'inter';
    font-size: 4em;
    text-align: center;
    font-weight: 400;
}

h3{
    font-family: 'inter';
    text-align: center;
    font-size: 3em;
    font-weight: 300;
    }

h4{
      font-family: 'inter';
      font-style: italic;
      text-align: center;
      font-weight: 100;
    }

nav .navbar-nav{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.nav-link {
    color: #A52C58;
}
.link-secondary {
    color: #731E3D;
}

.nav-link:hover {
    color: #731E3D;
}

.btn-outline-primary {
    border-color: #731E3D ;
color: #731E3D;
}

.btn-outline-primary:hover {
 background-color: #731E3D;
border-color: #731E3D;
}

.btn-primary {
  background-color: #A52C58;
border-color: #731E3D;
}

.btn-primary:hover {
  background-color: #731E3D;
  border-color: #731E3D;
}

a:visited {
  color: #731E3D;
}

/*FOOTER*/
footer {
  color:  #333;
  font-weight: 200;
  text-align: center;
}

