@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

form {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  text-align: center;
  align-self: center;
}

fieldset {
  margin: 17px;
}

legend {
  font-weight: 600;
  color: var(--accent-main);
  border-bottom: solid 2px var(--accent-secondary);
}

.flex {
  display: flex;
  flex-direction: column;
}

.asunto {
  align-items: start;
}

#imagen_error {
  font-size: 17px;
}

.div_comentarios {
  margin: 17px;
}

label,
input {
  font-size: 1rem;
}

@media (min-width: 320px) {
  h1 {
    font-size: 2.5rem;
  }

  form {
    width: 100%;
  }

  #imagen_error {
    font-size: 12px;
  }
  #comentarios {
    width: 100%;
    align-self: center;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  form {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  form {
    width: 75%;
  }
}