@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

.base {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 3em;
    padding-right: 3em;
}

.gridcont {
    display: grid;
}

.spacer {
    margin-bottom: 4em;
}

h1 {
    font-family: 'inter';
    font-size: 5em;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-family: 'inter';
    font-size: 4em;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-family: 'inter';
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}
ul {
    list-style-image: linear-gradient(to left bottom, red, blue);
}

li {
    font-family: 'inter';
    font-size: 1.5em;
}

p {
    font-family: 'inter';
    font-size: 1.5em;
}

nav .navbar-nav {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

.nav-link {
    color: #A52C58;
}
.link-secondary {
    color: #731E3D;
}

.nav-link:hover {
    color: #731E3D;
}

.btn-outline-primary {
    border-color: #731E3D ;
color: #731E3D;
}

.btn-outline-primary:hover {
 background-color: #A52C58;
border-color: #731E3D;
}