@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

:root {
    --text-standard: #000000;
    --text-inverted: #ffffff;
    --background-standard: #ffffff;
    --accent-main: #a52c58;
    --accent-secondary: #731e3d;
    --accent-secondary-s: #731e3d59;
    --footer-text: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-standard: #ffffff;
    --text-inverted: #000000;
    --background-standard: #000000;
    --accent-main: #e6a0e6;
    --accent-secondary: #d4a190;
    --accent-secondary-s: #d4a19059;
    --footer-text: #bbbbbb;
  }
}


body{
    font-family: 'inter';
    background-color: var(--background-standard);
    color: var(--text-standard);
}

.base {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    border-left-style: solid;
    border-right-style: solid;
    padding-left: 2vw;
    padding-right: 2vw;
}

.spacer {
    margin-bottom: 4rem;
}

h1 {
    font-family: 'inter';
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    color: var(--text-standard);
}

h2 {
    font-family: 'inter';
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    color: var(--text-standard);
}

h3 {
    font-family: 'inter';
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-standard);
}

p {
    font-family: 'inter';
    font-size: 1rem;
    color: var(--text-standard);
}

ul {
    list-style-image: linear-gradient(to left bottom, red, blue);
    color: var(--text-standard);
}

.blist {
    font-family: 'inter';
    font-size: 1.5rem;
}
nav .navbar-nav{
    list-style-type: none;
}

nav a{
    text-decoration: none;
}

.nav-link {
    color: var(--accent-main);
}

.link-secondary {
    color: var(--accent-secondary);
}

.nav-link:hover {
    color: var(--accent-secondary);
}

.btn-outline-primary {
    border-color: var(--accent-secondary) ;
    color: var(--accent-secondary);
}

.btn-outline-primary:hover {
    background-color: var(--accent-secondary);
    border-color: var(--accent-secondary);
}

.btn-primary {
    background-color: var(--accent-main);
    border-color: var(--accent-secondary);
    color:var(--text-inverted);
}

.btn-primary:hover {
    background-color: var(--accent-secondary);
    border-color: var(--accent-secondary);
    color:var(--text-inverted);
}

a:visited {
    color: var(--accent-secondary);
}

/*FOOTER*/
footer {
    color:  var(--footer-text);
    font-weight: 200;
    text-align: center;
}

